* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

.sobre p {
    margin-top: 40px;
    color: rgb(125, 125, 125);
    font-size: 3rem;
    text-align: justify;
}

.sobre {
    width: 80%;
    height: 60vh;
    margin: 50px auto 0 auto;
}

.sobre h2 {
    color: white;
    color: rgb(125, 125, 125);
    font-size: 5rem;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(125, 125, 125);
}